---
import Layout from "../../layout.astro"
import { getPosts } from "../../lib/posts"
import FormattedDate from "../../lib/formatted-date.astro"

export async function getStaticPaths() {
  let posts = await getPosts()
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

let { post } = Astro.props
let { Content } = await post.render()
let ogImageURL = new URL(`/og/${post.slug}.png`, Astro.site)
---

<head>
  <!-- Open Graph -->
  <meta property="og:title" content={post.title} />
  <meta property="og:description" content={post.description} />
  <meta property="og:image" content={ogImageURL} />
  <meta property="og:type" content="article" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={post.title} />
  <meta name="twitter:description" content={post.description} />
  <meta name="twitter:image" content={ogImageURL} />
</head>

<Layout title={post.title} description={post.description}>
  <article class="mt-4 prose px-4">
    <header>
      <h1>{post.title}</h1>
      <p class="text-xs text-muted italic">
        Published on
        <FormattedDate date={post.publishedAt} format="long" />
      </p>
    </header>
    <Content />
  </article>
</Layout>
